version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: nestjs_postgres
    restart: always
    environment:
      POSTGRES_DB: bik_bet
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nestjs:
    build: .
    container_name: nestjs_app
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - '3000:3000'
    command: sh -c "npm install && npm run start:dev"

volumes:
  postgres_data:
